<div class="row">
  <div class="col">
    <h3>List Of Unverified Users</h3>
    <div *ngIf="userMessage">
      <br>
      <br>
      <br>
      {{ userMessage }}
    </div>
    <ul class="list-group">
      <li
        *ngFor="let user of listAll; index as i"
        [ngClass]="
          i == currentlistIndex ? 'list-group-item active' : 'list-group-item'
        "
        (click)="getCurrentDocument(i, user)"
      >
        {{ user.firstname }} {{ user.lastname }}
        <span class="badge badge-primary badge-pill">{{ user.role }}</span>
      </li>
    </ul>
  </div>
  <div class="col">
    <br />
    <br />
    <div
      class="card"
      style="width: 35rem;"
      *ngIf="listAll && listAll.length && currentDocument"
    >
      <h5 class="card-title">
        {{ listAll[currentlistIndex].firstname }}
        {{ listAll[currentlistIndex].lastname }}
      </h5>
      <div class="card-body">
        <p class="card-text">
          Active Status :
          <span class="badge badge-primary badge-pill">{{
            currentDocument.status
          }}</span>
        </p>
      </div>
      <img
        src="{{ apiUrl }}{{ currentDocument.document.fileUrl }}"
        class="img-fluid"
        alt="image not found "
      />
      <div class="card-body">
        <p class="card-text">Card No: {{ currentDocument.document.Id }}</p>
      </div>

      <br />
      <br />

      <button
        type="button"
        class="btn btn-success"
        (click)="updateStatus(listAll[currentlistIndex].id, 'Verified')"
      >
        Verify
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="updateStatus(listAll[currentlistIndex].id, 'Rejected')"
      >
        Reject
      </button>
    </div>
  </div>
</div>
